{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    }, "ant"],
    ["import", {
      "libraryName": "ant-mobile",
      "libraryDirectory": "lib"
    }, "ant-mobile"]
  ]
}