@import '~antd/es/style/themes/default.less';

.login-container {
  width: 325px;
  padding: 10px 0;
}

.login-name {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.login-name-zh {
  font-size: 24px;
  font-weight: 700;
}

.login-name-en {
  font-size: 14px;
  color: gray;
}

.login-form {
  max-width: 100%;
}

.site-form-item-icon {
  color: gray;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.top-line {
  border-top: 1px solid #cccccc;
  padding-top: 10px;
}