.basic-layout {

  .basic-layout-sider,
  .basic-layout-main {
    height: 100vh;
    overflow-y: auto;
  }

  .basic-layout-sider::-webkit-scrollbar {
    width: 0;
  }

  .basic-layout-main {
    background-color: #f0f2f5;

    .content {
      margin: 14px 14px 0;
    }
  }
}