.basicLayout {

  .sider,
  .main {
    height: 100vh;
    overflow-y: auto;
  }

  .sider::-webkit-scrollbar {
    width: 0;
  }

  .main {
    background-color: #f0f2f5;

    .content {
      margin: 14px 14px 0;
    }
  }
}